.LoginCon {
    // border: 2px solid blue ;
    text-align: center;

    label {
        color: black;
        font-weight: bold;
        font-size: 15px;
    }

    input {
        color : grey;
        margin: 15px 0px;
    }
}