<input type="text" [(ngModel)]="msg">

<button (click)="getclick()"> Send Text

</button>

<div class="container">
    <!-- <div class="item1"> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, harum?
    </div>

    <div class="item2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, vel soluta. Veniam totam reiciendis ullam. Consequuntur libero voluptate consequatur sapiente!
    </div>
    <div class="item3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magnam accusamus perspiciatis ducimus totam facilis.
    </div>
    <div class="item4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, harum?
    </div>

    <div class="item5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, vel soluta. Veniam totam reiciendis ullam. Consequuntur libero voluptate consequatur sapiente!
    </div> -->
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magnam accusamus perspiciatis ducimus totam facilis.
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, harum?
    </div>

    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, vel soluta. Veniam totam reiciendis ullam. Consequuntur libero voluptate consequatur sapiente!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magnam accusamus perspiciatis ducimus totam facilis.
    </div>
</div>
 <!-- <div class="container-2">
    <div>
       1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, harum?
    </div>
    <div>
       2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, harum?
    </div>
    <div>
       3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, harum?
    </div>
    <div>
       4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, harum?
    </div>
    <div>
        5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, harum?
     </div>
</div> -->